body {
    background-color: #E1E0D5;
}

/* Bordered form */
#form_container {
    border: 3px solid #f1f1f1;
    width: 60%;
    margin-left: 20%;
    background-color: white;
}

h1 {
    text-align: left;
    font-weight: bold;
    color: #6B6B6B;
    font-size: 2em;
    margin-left: 0.67em;
}


/* Full-width inputs */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

#login p {
    font-size: 14px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the second buttons */
#signup_btn {
    padding: 10px 18px;
    background-color: grey;
}
#signin_btn {
    padding: 10px 18px;
    background-color: grey;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    display: block;
    flex-direction: column;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 10%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
    
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

#signup_form {
    display: none;
}

/* Removes image and forgot password button on small screens */
@media screen and (max-width: 768px) {
    form {
        border: 3px solid #f1f1f1;
        width: 100%;
        margin-left: 0;
    }
    
    .avatar{
        display: none;
    }
    .imgcontainer{
        display: none;
    }
    span.psw {
        display: none;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}