/* css for all admin content that are not forms */
/* general */
body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-weight: bold;
    font-size: xx-large;
}

h2 {
    font-weight: normal;
    font-size: medium;
}

/* admin tables */

table {
    border-collapse: collapse;
}
tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}
tr:hover {
    background-color: #ccc;
}
th {
    background-color: #fff;
    text-align: left;
}

td {
    text-decoration: none;
}
th,  td {
    padding: 3px 5px;
}
td:hover {
    cursor: pointer;
}

/* navbar */
.topnav {
    overflow: hidden;
    background-color: #A7A297;
}

/* The topnav hyperlinks are floating to the left */
/* The text colour is set and padding is added*/
/* The underline is removed */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The topnav hyperlink background colour and the text colour changes when the mouse is hovering on it */
.topnav a:hover {
    background-color: #ddd;
    color: #f2f2f2;
}

.topnav .topnav-right {
  float: right;
}

/* The topnav hyperlink background colour and the text colour changes when active */
.topnav a.active {
    background-color: #77746E;
    color: white;
}

/* The dropdown hyperlink background colour and the text colour changes when the mouse is hovering on it or active*/
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #FDFDFD;
    color: #A7A297;
}

.button {
    background-color: #A7A297;
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #77746E;
    color: black;
}

label {
    display: inline-block;
    width: 150px;
}
